---
layout: default
---
{% include JB/setup %}

{% for post in paginator.posts %}
<div class="blog-excerpt">
    <div class="header">
       <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a><span class="meta">{{ post.date | date_to_string }}</span></h2>
    </div>
    <article>{{ post.excerpt }}</article>
	{% if post.content contains '<!--more-->' %}
	  <a href="{{ post.url }}">Read more ...</a>
	{% endif %}
</div>
{% endfor %}


<hr>
<div class="pagination">
<ul>
<li class="prev">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">&larr; Previous</a>
  {% else %}
    <span class="previous">&larr; Previous</span>
  {% endif %}
</li>
<li><span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></li>
<li class="next">
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next &rarr;</a>
  {% else %}
    <span class="next ">Next &rarr;</span>
  {% endif %}
</li>
</ul>
</div>
