body { font-size: 16px; }

.navbar-brand {
    font-size: 22px;
    font-weight: 200;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }


/* tag_box */
div.tags { margin: 40px 0; }
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

.blog-excerpt .header{
    border-bottom: solid 1px #eee;
    margin-top: 80px;
    margin-bottom: 16px;
}

.blog-excerpt h2 a{
  color: #39393F;
  font-size: 24.5px;
}
.blog-excerpt h2 span.meta{
  font-size: 14px;
  font-weight: 200;
  float: right;
}

.blog-excerpt h2 a:hover{
  color:#005580;
}

.blog-excerpt article h1,
.post-full .content h1 {
    font-size: 21.5px;
    line-height: 50px;
    font-weight: normal;
    color: #505050;
}
.blog-excerpt article h2,
.post-full .content h2{
    font-size: 18.5px;
    line-height: 36px;
    font-weight: normal;
    color: #505050;
    margin: 12px 0;
}

footer {
    font-size: 12px;
}
footer li {
    float: left;
    padding-left: 40px;
    list-style: none;
}

pre {
    padding: 0px;
    border: 0 none;
}

.page-header h1{
    font-size: 27.5px;
}

.w80p {
    max-width: 80%;
    display: block;
    height: auto;
}

.v20s {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
